<tr class="student" id="student_<%-student.student_id%>">
  <td class="lName"><%- student.lName%></td>
  <td class="fName"><%- student.fName%></td>
  <td class="town"><%- student.town%></td>
  <td>
    <a href="/student/<%-student.student_id%>" class="button">View Student</a>
  </td>
</tr>
