<h1>Courses</h1>

<section>

  <button class="toggle-create-form button col-accent <%= locals.postReqReload ? 'col-secondary' : ''%>">
    <span class="material-symbols-outlined icon"> <%= locals.postReqReload ? "remove" : "add"%> </span>
    <b>Add Course</b>
  </button>

  <section class="create-form-wrapper <%= locals.postReqReload ? "" : "hidden"%>">
    <h2>Add Course</h2>
    <form action="/courses" method="POST" class="create">
      <div class="input-wrapper">
        <label for="name">Name</label>
        <input required type="text" id="name" name="name" value="" />
      </div>
      <div class="input-wrapper">
        <label for="description">Description</label>
        <input required type="text" id="description" name="description" value="" />
      </div>

      <input type="submit" value="Add Course" class="button rounded col-accent" />
    </form>
  </section>
</section>

<hr />

<section>
  <h2>All Courses</h2>
  <table class="course-list">
    <tr>
      <th>Name</th>
      <th >Description</th>
    </tr>
    <% locals.courses.forEach(course => { %> 
      <tr class="course" id="course_<%-course.course_id%>">
        <td class="name"><%- course.name%></td>
        <td class="description"><%- course.description%></td>
        <td>
          <a href="/course/<%-course.course_id%>" class="button text">View Course</a>
        </td>
      </tr> 
    <%})%>
  </table>
</section>

<!-- toggle form visibility -->
<script>
  const toggleButton = document.querySelector(".toggle-create-form");
  const buttonIcon = toggleButton.querySelector(".icon");
  const formWrapper = document.querySelector(".create-form-wrapper");

  toggleButton.addEventListener("click", () => {
    if (formWrapper.classList.contains("hidden")) {
      formWrapper.classList.remove("hidden");
      toggleButton.classList.add("col-secondary");
      buttonIcon.textContent = "remove";
    } else {
      formWrapper.classList.add("hidden");
      toggleButton.classList.remove("col-secondary");
      buttonIcon.textContent = "add";
    }
  });
</script>


<!-- redirect on course click -->
<script>
  const items = document.querySelectorAll(".course");
  document.addEventListener("click", (e)=>{
    if(e.target.closest("tr").classList.contains("course")){
      const course_id = e.target.closest("tr").id.split("_")[1];

      location.href = "/course/" + course_id;
    }
  })
</script>
