<h1>Students</h1>

<section>

  <button class="toggle-create-form button col-accent <%= locals.postReqReload ? 'col-secondary' : ''%>">
    <span class="material-symbols-outlined icon"> <%= locals.postReqReload ? "remove" : "add"%> </span>
    <b>Add Student</b>
  </button>

  <section class="create-form-wrapper <%= locals.postReqReload ? "" : "hidden"%>">
    <h2>Add student</h2>
    <form action="" method="POST" class="create">
      <div class="half input-wrapper">
        <div>
          <label for="fName">First name</label>
          <input required type="text" id="fName" name="fName" value="" />
        </div>
        <div>
          <label for="lName">Last name</label>
          <input required type="text" id="lName" name="lName" value="" />
        </div>
      </div>
      <div class="input-wrapper">
        <label for="town">Town</label>
        <input required type="text" id="town" name="town" value="" />
      </div>

      <input type="submit" value="Add Student" class="button rounded col-accent" />
    </form>
  </section>
</section>

<hr />

<section>
  <h2>All Students</h2>
  <table class="student-list">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Town</th>
      <th></th>
    </tr>
    <% locals.students.forEach(student => { %> 
      <tr class="student" id="student_<%-student.student_id%>">
        <td class="lName"><%- student.lName%></td>
        <td class="fName"><%- student.fName%></td>
        <td class="town"><%- student.town%></td>
        <td>
          <a href="/student/<%-student.student_id%>" class="button text">View Student</a>
        </td>
      </tr>
    <% }) %>
  </table>
</section>

<!-- toggle form visibility -->
<script>
  const toggleButton = document.querySelector(".toggle-create-form");
  const buttonIcon = toggleButton.querySelector(".icon");
  const formWrapper = document.querySelector(".create-form-wrapper");

  toggleButton.addEventListener("click", () => {
    if (formWrapper.classList.contains("hidden")) {
      formWrapper.classList.remove("hidden");
      toggleButton.classList.add("col-secondary");
      buttonIcon.textContent = "remove";
    } else {
      formWrapper.classList.add("hidden");
      toggleButton.classList.remove("col-secondary");
      buttonIcon.textContent = "add";
    }
  });
</script>

<!-- redirect on student click -->
<script>
  const items = document.querySelectorAll(".student");
  document.addEventListener("click", (e)=>{
    if(e.target.closest("tr").classList.contains("student")){
      const student_id = e.target.closest("tr").id.split("_")[1];

      location.href = "/student/" + student_id;
    }
  })
</script>
